:root {
    --dark-color-one: #522258;
    --dark-color-two: #8C3061;
    --dark-color-three: #C63C51;
    --ligth-color-one: #FFFFFF;
    --ligth-color-two: #FFDFD6;
    --ligth-color-three: #E3A5C7;
    --font: "Inter", sans-serif;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--ligth-color-two);
    color: var(--dark-color-one);
    font-family: var(--font);
    font-weight: 400;
}

main{
    height: 80%;
}

.decoder{
    padding: 2%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.decoder__alura{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.decoder__text{
    width: 50%;
    height: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.decoder__text__content{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    resize: none;
    border-color: var(--ligth-color-two);
    background: transparent;
    outline: none;
    font: var(--font);
    font-size: 2rem;
    color: var(--dark-color-one);
}

.decoder__text__content::placeholder{
    color: var(--dark-color-one);
    border: none;
}

.text__info{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    font-size: 0.75rem;
}

.text__info__text{
    margin-left: 1%;
}

.text__options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text__options__button{
    padding: 1.5rem;
    width: 48%;
    text-decoration: none;
    border-radius: 1.5rem;
    border: 1px solid var(--dark-color-one);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
}

.text__options__button:hover{
    background-color: var(--dark-color-two);
    color: var(--ligth-color-one);
    opacity: 70%;
}

.encrypt{
    margin-right: 0.75rem;
    background-color: var(--dark-color-one);
    color: var(--ligth-color-one);
}

.decrypt{
    margin-left: 0.75rem;
    background-color: var(--ligth-color-three);
    color: var(--dark-color-one);
}

.decoder__image{
    width: 25%;
    height: 95%;
    padding: 2%;
    background-color: var(--ligth-color-one);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image__before__image{
    width: 100%;
}

.image__before__title{
    font-size: 1.5rem;
    color: var(--dark-color-two);
}

.image__before__text{
    font-size: 1rem;
}

.image__after{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image__after__text{
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--dark-color-three);
    text-align: left;
    word-wrap: break-word;
}

.image__after__button{
    width: 100%;
    background-color: var(--ligth-color-three);
    color: var(--dark-color-one);
}

.hidden{
    display: none;
}

.decoder__footer{
    width: 100vw;
    height: 2.5rem;
    background-color: var(--dark-color-one);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.footer__text {
    font-size: 1rem;
    color: var(--ligth-color-one);
    display: flex;
    align-items: center;
}

@media (max-width:1200px) {
    .decoder{
        padding: 2%;
        flex-direction: column;
    }

    .decoder__alura{
        margin-top: 5%;
    }
    
    .decoder__text{
        width: 90%;
        height: 100%;
    }

    .decoder__image{
        width: 90%;
        height: 15%;
        padding: 5%;
        margin: 3%;
    }

    .image__before__image{
        display: none;
    }

    .image__after{
        height: auto;
    }

    .decoder__footer{
        display: none;
    }
}

@media (max-width:700px) {
    .decoder__alura{
        width: 30%;
    }

    .text__options{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text__options__button{
        width: 100%;
    }

    .decoder__image{
        height: 25%;
    }

    .encrypt{
        margin-right: 0;
    }
    
    .decrypt{
        margin-left: 0;
        margin-top: 1rem;
    }

    .image__after{
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
